<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <% if (user) { %>
        <p>Xin chào, <%= user.name %></p>
        <a href="/logout">Logout</a>
    <% } %>
    <h1>Dashboard page</h1>
</body>
</html>